:root {
  --color-60: #ffffff;
  --color-30: #408EBA;
  --color-10: #000000;
  --color-red: #F03136;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 500px;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 20px;
}

.list-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  background-color: var(--color-60);
  border-radius: 7px;
  box-shadow: 0px 0px 5px #0000001f;
}

.list-box>table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  /* Adiciona rolagem horizontal */
  border-collapse: collapse;
  margin-top: 10px;
}

.list-box th,
.list-box td {
  width: auto;
  /* Ajuste a largura das colunas automaticamente */
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.list-box td button {
  background-color: var(--color-red);
  color: white;
  border: none;
  padding: 5px 8px;
  /* Reduza um pouco o padding dos botões */
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.list-box td i {
  font-size: 16px;
}

.list-box td .fa-trash {
  color: var(--color-red);
}

.search-box {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.search-box input[type="text"] {
  width: 100%;
  border: none;
  padding: 0px 10px 0px 10px;
}

.search-box button {
  width: 50px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  border: none;
  background: none;
}

.new-user-btn {
  width: 100%;
  background-color: var(--color-30);
  color: var(--color-60);
  border: none;
  padding: 10px;
  border-radius: 7px;
  font-weight: bold;
  transition: ease-out 0.3s;
}

.new-user-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
